<!doctype html>
<html lang="ko">
<head>
	<title>z9n.net :: <%=title %></title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Content-Language" content="ko" />
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-TileColor" content="#7F7F7F">
	<meta name="theme-color" content="#7F7F7F">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width">
	<meta name="naver-site-verification" content="866b075d00c2f6c8b5ae567a6a2bebcc6eebd6c5"/>
	<meta name="msvalidate.01" content="5208A2249FF79AAEA0045B288557904D" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
	<link rel="stylesheet" href="/css/dashboard.css" />
	<link rel="stylesheet" href="/css/jquery.json-view.min.css" />
</head>
<body>