        <!-- footer { -->
            <footer class="footer">
                <div class="container">
                    <div class="row align-items-center flex-row-reverse">
                        <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                            Copyright <%=year%> <a href="/">z9n</a>. All right reserved. Designed by <a href="https://tabler.github.io/" target="_blank">tabler</a>.
                        </div>
                    </div>
                </div>
            </footer>
        <!-- footer } -->
    </div>
</div>
<%-include('_tail')%>